*
!.gitignore
!.gitmodules
!README.md
!Parasite.sln
!Driver
!Driver/*.vcxproj
!Driver/*.filters
!Driver/*.cpp
!Parasite
!Parasite/*.h
!Parasite/*.c
!Parasite/*.py
!Parasite/*.vcxproj
!Parasite/*.filters
!Parasite/bootkit
!Parasite/bootkit/Makefile
!Parasite/bootkit/*.ld
!Parasite/bootkit/*.asm
!img
!img/*.PNG
Parasite/driver.h